@media only screen and (min-width:375px) and (max-width:667px){
    .container{
        position: relative;
    }

    .navigation img{
        width: 110px;
        margin:auto;
    }

    .navButtons{
        width:100%;
        position: fixed;
        bottom:0px;
        left: 0px;
        background-color: black;
        padding:10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}